
body, h1, h2, h3, ul, li, p, form {
    margin: 0;
    padding: 0;
}


body {
    background-color: #171a29; 
    font-family: Arial, sans-serif;
    color: #fff; 
}


h1 {
    text-align: center;
    padding: 20px 0;
    color: #fff; 
}


ul {
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.1); 
    text-align: center;
    padding: 10px 0;
}

li {
    display: inline;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #fff; 
}

a:hover {
    text-decoration: underline;
}


section {
    padding: 40px;
}


.Food-Item {
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 30px;
    color: #333; 
}

.Food-Item img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}


form {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: #333; 
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #ff6347;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e74c3c; 
}


@media (max-width: 768px) {
    section {
        padding: 20px;
    }

    .Food-Item,
    form {
        padding: 15px;
    }
}
